<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Da_Modular_Application</title>
        <script src="https://kit.fontawesome.com/cd832cb986.js"></script>
        <link rel="stylesheet" href="~/css/home.css"/>
        <link rel="stylesheet" href="~/css/Login.css"/>
        <link rel="stylesheet" href="~/css/_layout.css"/>
        <link rel="stylesheet" href="~/css/lokality.css">
        <link rel="stylesheet" href="~/css/odstavky.css">
        <link href="~/Images/CEZ-Logo.jpg">
            <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


       

    </head>

    <body>
        @if(User.Identity?.IsAuthenticated==true)   
        {
            
            <div class="Content">
                <div class="sidemenu">
                    <div class="s1">
                    </div>
                    <div class="s2" id="sidemenu">
                        <div style="display: flex; flex-direction: column;width: 97%;">

                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Home" class="a-sidebar">
                                        <i class="fa-solid fa-house-chimney-window navA"></i>
                                        <span class="sb">Home</span>  
                                    </a>
                                </li>
                                <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" asp-fragment="aktual" class="a-sidebar">
                                            <i class="fa-solid fa-person-running fa-sm navA"></i>
                                            <span class="sb">Dnešní Aktuální</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" asp-fragment="upcoming" class="a-sidebar">
                                            <i class="fa-solid fa-hourglass-end fa-sm navA"></i>
                                            <span class="sb">Dnešní nadcházející</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" asp-fragment="end" class="a-sidebar">
                                            <i class="fa-regular fa-circle-xmark fa-sm navA"></i>
                                            <span class="sb">Dnešní ukončené</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" asp-fragment="search" class="a-sidebar">
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechna dieslovaní</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Lokality" class="a-sidebar"> 
                                        <i class="fa-solid fa-tower-broadcast navA"></i>
                                        <span class="sb">Lokality</span>  
                                    </a>
                                </li>
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="lokality" class="a-sidebar" >
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechny Lokality</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="vytvorenilokality" class="a-sidebar">
                                            <i class="fa-regular fa-square-plus fa-sm navA"></i>
                                            <span class="sb">Vytvořit Lokalitu</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="regiony" class="a-sidebar">
                                            <i class="fa-solid fa-earth-europe fa-sm navA"></i>
                                            <span class="sb">Regiony</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="firmy" class="a-sidebar">
                                            <i class="fa-solid fa-building fa-sm navA"></i>
                                            <span class="sb">Firmy</span> 
                                        </a>
                                    </li>
                                     <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" class="a-sidebar" >
                                            <i class="fa-solid fa-map fa-sm navA"></i>
                                            <span class="sb">Mapa</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar"> 
                                        <i class="fa-solid fa-bolt navA"></i>
                                        <span class="sb">Odstávky</span>  
                                    </a>
                                </li>
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar">
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechny Odstávky</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-regular fa-square-plus fa-sm navA"></i>
                                            <span class="sb">Vytvořit odstávku</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" asp-fragment="tablepohotovosti"class="a-sidebar"  style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-table fa-sm navA"></i>
                                            <span class="sb">Tabulka pohotovostí</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="main">

                    <div class="header">
                        <nav id="navbar">
                           
                            
                            <div class="navdiv bar" style="background-color: white; border: 0;">
                                <i class="fa-solid fa-bars fa-2xl" style="color:black; "></i>
                            </div>
                          
                            <div class="navdiv settings">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class="navdiv signout">
                                <a asp-action="Logout" asp-controller="Logout">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>   
                            <div class="navdiv add">
                                <i class="fa-solid fa-plus"></i>
                                <a>Add member</a>
                            </div>
                            <div class="buttonTest"> 
                                <form asp-action="Test" asp-controller="Odstavky" method="post">
                                    <button class="navdiv add" type="submit" style="color: white;">Test</button>
                                </form>
                            </div>   
                        
                               
                            

                            <div id="app-cover">
                                <div id="select-box">
                                    <div class="user-icon">
                                        <i class="fa-solid fa-user"></i>
                                        
                                    </div>
                                    <a class="a-username">@User.Identity.Name</a>
                                    <input type="checkbox" id="options-view-button">
                                    <div id="options">
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Profil">
                                            <input class="s-c bottom" type="radio" name="platform" value="Profil">
                                            <i class="fa-solid fa-user"></i>
                                            <span class="label">Profil</span>  
                                            <span class="opt-val">Profil</span>
                                        </div>
                                
                                    
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Nastavení">
                                            <input class="s-c bottom" type="radio" name="platform" value="Nastavení">
                                            <i class="fa-solid fa-gear"></i>
                                            <span class="label">Nastavení</span>  
                                            <span class="opt-val">Nastavení</span>
                                        </div>
                                
                                
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Podpora">
                                            <input class="s-c bottom" type="radio" name="platform" value="Podpora">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <span class="label">Podpora</span>  
                                            <span class="opt-val">Podpora</span>
                                        </div>
                                
                                
                                        <div class="option">
                                            <a asp-action="Logout" asp-controller="Logout">   
                                                <input  class="s-c top" type="radio" name="platform" value="OdhlásitSe">
                                                <input class="s-c bottom" type="radio" name="platform" value="OdhlásitSe">
                                                
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                <span class="label">Odhlásit se</span>  
                                                <span class="opt-val">Odhlásit se</span>
                                            </a>
                                        </div>
                                
                                        </div>
                                        <div id="option-bg"></div>
                                    </div>
                                    
                                </div>

                        </nav>
                    </div> 
                    <!-- Modal Window HTML -->
                    @if (TempData["Zprava"] != null)
                    {
                    <div id="messageModal" class="modal" style="display: none;">
                        <div class="modal-content">
                            <span id="closeModal" class="close">&times;</span>
                            <p id="modalText" style="margin: 0px;">@TempData["Zprava"]</p>
                        </div>
                    </div>
                    }


                            
                    @if(User.Identity?.IsAuthenticated==true)
                    {
                        @RenderBody()
                    }
 
            
                   




                </div>

       
                   
                
            </div> 
        }  
             @RenderBody()
            
            @await RenderSectionAsync("Scripts", required: false)
            <script src="~/js/home.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
     
          

    </body>
        
</html>
