@model Diesel_modular_application.Models.OdstavkyViewModel
<html>
    <body>
        <div class="div-odstavka-create">
        <h2>Vytvořit odstávku:</h2>
        
       
        <form asp-action="Create" asp-controller="Odstavky" class="form-odstavky">
            <div class="form">
             <label>Distributor:</label>   
            <select asp-for="AddOdstavka.Distributor">
                <option value="ČEZ">ČEZ</option>
                <option value="PRE">PRE</option>
                <option value="EGD">EGD</option>
            </select>
            </div> 
            <div class="form">
                <label>Lokalita:</label>
                <div class="div-form">
                    <input asp-for="AddOdstavka.Lokality.Lokalita" type="text">
                </div>
            </div>
            <div class="form">
                <label>Od:</label>
                <input type="datetime-local" asp-for="AddOdstavka.Od">
            </div>
            <div class="form">
                <label>Do:</label>
                <input type="datetime-local" asp-for="AddOdstavka.Do">
            </div>
            <div class="form">
                <label>Popis:</label>
                <input type="text" class="input-text" asp-for="AddOdstavka.Popis">
            </div>
            <button type="submit" class="button-odstavka"><a class="text-button">Vytvořit</a></button>

        </form>
   </div>
    <div class="menu">
        <ul class="menu-ul">
            <li class="menu-li"><a class="menu-text">Přidat odstávku</a></li>
            <li class="menu-li"><a class="menu-text">Odstávky</a></li>
        </ul>
    </div>
    <div class="div-odstavky-table">
        <div class="div-odstavky">
            <table class="table-odstavky">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Distributor</th>
                        <th>Lokalita</th>
                        <th>Klasifikace</th>
                        <th>Od</th>
                        <th>Od</th>
                        <th>Adresa</th>
                        <th>Baterie</th>
                        <th>Zásuvka</th>
                        <th>Popis</th>
                    </tr>
                </thead>
                @if(Model == null)
                {
                <div class="error">
                    <h1>Nelze načíst</h1>
                </div>
                }
                <tbody>
                    @if (Model != null)
                    {
                        
                        @foreach(var odstavky in Model.OdstavkyList)
                        {
                            <tr>
                                <td>@odstavky.IdOdstavky</td>
                                <td>@odstavky.Distributor</td>
                                <td>@odstavky.Lokality.Lokalita</td>
                                <td>@odstavky.Lokality.Klasifikace</td>
                                <td>@odstavky.Od</td>
                                <td>@odstavky.Do</td>
                                <td>@odstavky.Lokality.Adresa</td>
                                <td>@odstavky.Lokality.Baterie</td>
                                <td>@odstavky.Lokality.Zásuvka</td>
                                <td>@odstavky.Popis</td>
                            </tr>
                        }  
                        
                    }
                </tbody>
             
                
                
            </table>
        </div>
    </div>
    </body>
</html>