@model Diesel_modular_application.Models.OdstavkyViewModel
@using PagedList.Core.Mvc;
<html>
    <body>
        <div class="conteiner">
            <div class="tables-row" style="justify-content:center">
                <h2>Všechny odstávky:</h2>
                <div class="table-div odstavkyTable">
                    <table id="odTable" style="margin-bottom: 15px;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Distributor</th>
                                <th>Lokalita</th>
                                <th>Klasifikace</th>
                                <th>Od</th>
                                <th>Do</th>
                                <th>Adresa</th>
                                <th>Baterie<a> [min]</a></th>
                                <th>Popis</th>
                                <th>Zásuvka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-body">     
                        </tbody>          
                    </table>   
                </div>
            </div>
            <div class="tables-row">
                <div class="section small OdstavkyView" style="flex-direction: row; width: 30%; flex: none;">
                    <div class="div-odstavka-create">
                        <form asp-action="Create" asp-controller="Odstavky" class="form-odstavky" style="border-radius: 5px;">
                            <div class="form">
                                <h2>Vytvořit odstávku:</h2>
                                <label>Lokalita:</label>
                                <div class="div-form">
                                    <input asp-for="AddOdstavka.Lokality.Lokalita" type="text" class="input odstavky">
                                </div>
                            </div>
                            <div class="form">
                                <label>Od:</label>
                                <input type="datetime-local" asp-for="AddOdstavka.Od" class="input odstavky"> 
                            </div>
                            <div class="form">
                                <label>Do:</label>
                                <input type="datetime-local" asp-for="AddOdstavka.Do" class="input odstavky">
                            </div>
                            <div class="form">
                                <label>Popis:</label>
                            
                                <textarea type="text" style="border-color:#cbd0dd; border-radius:5px;  "class="input-text" asp-for="AddOdstavka.Popis" class="input odstavky"></textarea>
                            </div>
                            
                            <button type="submit" class="button"><a class="text-button">Vytvořit</a></button>
                            <div class="alert alert-success">
                            @TempData["Zprava"]
                            </div>
                        </form>
                    </div>
                </div>
                <div class="section small OdstavkyView" style="width: 70%">
                    <div class="main-container OdstavkyView" >
                        <div class="year-stats lok">
                            <h3>Všechny odstávky: @Model.RegionStats.TotalOdstavky</h3>
                            <div class="regions odstavky">
                                @foreach (var region in Model.RegionStats.Regions)
                                {
                                    var percentage = region.Percentage;
                                    var remainingPercentage = 100 - percentage; // Spočítáme, kolik zůstává do 100%
                                    
                                    <div class="month-group odstavky">
                                        <div class="bar h-50" style="background-color: lightgrey; height:@remainingPercentage.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>
                                        <div title="@region.Percentage%" class="bar h-50" style="background-color:blue ; height:@region.Percentage.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>  

                                        <p class="p-lok">@region.RegionName</p>                       
                                    </div>

                                }
                            </div>
                        </div>          
                    </div>   
                </div>
            </div>
            <div class="cnt" style="background-color: white;">
                <section class="tables" id="tablepohotovosti">
                    <div class="table-div pohotovosti">
                        <form asp-action="Zapis" asp-controller="Pohotovosti"> 
                            <h2 style="display: flex; justify-content: center;">Pohotovosti:</h2>                  
                            <table>
                                <thead>
                                    <tr>
                                        <th>Jmeno</th>
                                        <th>Tel</th>
                                        <th>Firma</th>
                                        <th>Začátek</th>
                                        <th>Konec</th>
                                        <th>Obsazenost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var pohotovost in Model.PohotovostList)
                                    {
                                        <tr>
                                            <td>@pohotovost.Technik.Jmeno</td>
                                            <td>@pohotovost.User.PhoneNumber</td>
                                            <td>@pohotovost.Technik.Firma.NázevFirmy</td>
                                            <td>@pohotovost.Začátek</td>
                                            <td>@pohotovost.Konec</td>
                                        <td>
                                                @if (pohotovost.Technik.Taken)
                                                {
                                                    if (Model.TechnikLokalitaMap.TryGetValue(pohotovost.Technik.IdTechnika, out var lokalita))
                                                    {
                                                        <span>Právě je objednán, na lokalitě: @lokalita</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Právě je objednán, ale nemá přiřazenou lokalitu.</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>Právě je volný</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <h2 style=" display:flex; justify-content: center;">Zapsat se</h2>
                            <div class="buttondiv">
                                @if(User.IsInRole("Admin"))
                                {
                                    <div>
                                        <a>Technik:</a>
                                        <select asp-for="TechnikMod.IdTechnika">
                                            @foreach(var Technik in Model.TechnikList)
                                            {
                                            <option value="@Technik.IdTechnika">@Technik.Jmeno</option>
                                            }
                                        </select>
                                        
                                    </div>
                                }
                                <div>
                                    <a>Začátek</a><br>
                                    <input asp-for="PohotovostMod.Začátek" type="datetime-local">    
                                </div>    
                                <div>
                                    <a>Konec</a><br>
                                    <input asp-for="PohotovostMod.Konec" type="datetime-local">    
                                </div>   
                                <button type="submit" class="button"><a class="text-button">Zapsat se</a></button>
                            </div>
                        </form>    
                    </div> 
                    @if(User.IsInRole("Admin"))
                    {
                        <form asp-action="Nacteni" asp-controller="Lokality">
                            <button type="submit">VYTVOŘ</button>
                        </form>
                    }
                </section>
            </div>
        </div>
    </body>
</html>