@model Diesel_modular_application.Models.OdstavkyViewModel
@using PagedList.Core.Mvc;
<html>
    <body>
        <div class="table-div import C odstavky">
            <section class="sctn search odstavkyTable">
                <h2 style="display: flex;justify-content: center;">Odstávky</h2>
                <div onsubmit="event.preventDefault();" role="search" class="form-import Search" style=" background-color: white;">
                    <input id="search" class="InputSearching" type="search" placeholder="Search..." autofocus required />
                    <button class="buttonsearch" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>  
                </div>
            </section>
            <div class="table-div odstavkyTable">
                <table>
                    <thead>

                        <tr>
                            <th>Id<i class="fa-solid fa-id-badge"></i></th>
                            <th>Distributor<i class="fa-solid fa-bolt"></i></th>
                            <th>Lokalita<i class="fa-solid fa-tower-broadcast"></i></th>
                            <th>Klasifikace<i class="fa-solid fa-star"></i></th>
                            <th>Od<i class="fa-solid fa-clock"></i></th>
                            <th>Do<i class="fa-solid fa-clock"></i></th>
                            <th>Adresa<i class="fa-solid fa-house"></i></th>
                            <th>Baterie<i class="fa-solid fa-battery-full"></i></th>
                            <th>Popis</th>
                            <th>Zásuvka<i class="fa-solid fa-plug"></i></th>
                            
                        </tr>
                    </thead>
                    @if(Model == null)
                    {
                    <div class="error">
                        <h1>Nelze načíst</h1>
                    </div>
                    }
                    <tbody id="table-body">     
                        @if (Model != null)
                        {
                            

                            @foreach(var odstavky in Model.OdstavkyList)
                            {
                                <tr class="table-row">
                                    <td>@odstavky.IdOdstavky</td>
                                    <td>
                                        @if(odstavky.Distributor=="ČEZ")
                                        {
                                            <img src="~/Images/CEZ-Logo.jpg"  width="30" height="30">
                                            
                                        }
                                         @if(odstavky.Distributor=="EGD")
                                        {
                                            <img src="~/Images/EGD-Logo.jpg"  width="60" height="40">
                                        }
                                         @if(odstavky.Distributor=="PRE")
                                        {
                                            <img src="~/Images/PRE-Logo.jpg"  width="50" height="30">
                                            
                                        }
                                    </td>
                                    <td>@odstavky.Lokality.Lokalita</td>
                                    
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Klasifikace))
                                    {
                                        <td>@if(odstavky.Lokality.Klasifikace=="A1")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: #c91829; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">A1</span>
                                                </span> 
                                            }
                                            @if(odstavky.Lokality.Klasifikace=="A2")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">A2</span>
                                                </span> 
                                            }
                                            @if(odstavky.Lokality.Klasifikace=="B1")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B1</span>
                                                </span> 
                                            }
                                            @if(odstavky.Lokality.Klasifikace=="B2")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: lightgreen; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B2</span>
                                                </span> 
                                            }
                                            @if(odstavky.Lokality.Klasifikace=="B")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B</span>
                                                </span> 
                                            }
                                               @if(odstavky.Lokality.Klasifikace=="C")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">C</span>
                                                </span> 
                                            }
                                            @if(odstavky.Lokality.Klasifikace=="D1")
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: blue; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                                                <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">D1</span>
                                                </span> 
                                            }
                                         
                                        </td>
                                    }
                                    <td>@odstavky.Od</td>
                                    <td>@odstavky.Do</td>
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Adresa))
                                    {
                                        <td>@odstavky.Lokality.Adresa</td>
                                    }
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Baterie))
                                    {
                                        <td>@odstavky.Lokality.Baterie</td>
                                    }
                                    <td>@odstavky.Popis</td>
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Zásuvka))
                                    {
                                        <td class="content-cell"><span>
                                            @if(odstavky.Lokality.Zásuvka=="TRUE")
                                            {
                                                <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
                                            }
                                            @if(odstavky.Lokality.Zásuvka=="FALSE")
                                            {
                                                <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
                                            }
                                        </span></td>
                                    }
                                    
                                    <td>
                                        <div class="button-conteiner">
                                            <button class="button Edit"><i class="fa-solid fa-ellipsis" style="color: black;"></i></button>
                                            <div class="hidden-buttons">
                                                
                                                <form asp-action="Delete" asp-controller="Odstavky">
                                                    <input type="hidden" asp-for="OdstavkyMod.IdOdstavky" value="@odstavky.IdOdstavky" />
                                                    <button class="button Edit delete"><i class="fa-solid fa-trash" style="color:black"></i></button>
                                                </form>
                                                <button class="button Edit ed"><i class="fa-solid fa-pen" style="color: black;"></i></button>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            }  
                            
                        }
                    </tbody>
                
                    
                    
                </table>
                   <div class="paging">
               

                  
                    @if(Model.CurrentPage>1)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage-1)" style="font-size: small; text-decoration: none; color: #0011ff; margin-right: 10px;"> <i class="fa-solid fa-chevron-left" style="color: #0011ff;"></i>Previus</a>
                    }
                    @if(Model.CurrentPage<Model.TotalPages)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage+1)" style="font-size: small; text-decoration: none; color: #0011ff;"> Next <i class="fa-solid fa-chevron-right" style="color: #0011ff;"></i> </a>
                    }
                    
                </div>

            </div>
        </div>
        <div class="menu">
            <ul class="ul-footer">
               
            </ul>
        </div>
        <div class="odstavky-section">
            <div class="div-odstavka-create">
                
                <form asp-action="Create" asp-controller="Odstavky" class="form-odstavky">
                    <div class="form">
                        <h2>Vytvořit odstávku:</h2>
                        <label>Lokalita:</label>
                        <div class="div-form">
                            <input asp-for="AddOdstavka.Lokality.Lokalita" type="text" class="input odstavky">
                        </div>
                    </div>
                    <div class="form">
                        <label>Od:</label>
                        <input type="datetime-local" asp-for="AddOdstavka.Od" class="input odstavky"> 
                    </div>
                    <div class="form">
                        <label>Do:</label>
                        <input type="datetime-local" asp-for="AddOdstavka.Do" class="input odstavky">
                    </div>
                    <div class="form">
                        <label>Popis:</label>
                       
                        <textarea type="text" style="border-color:#cbd0dd; border-radius:5px;  "class="input-text" asp-for="AddOdstavka.Popis" class="input odstavky"></textarea>
                    </div>
                    
                    <button type="submit" class="button"><a class="text-button">Vytvořit</a></button>
                    <div class="alert alert-success">
                    @TempData["Zprava"]
                    </div>
                </form>
            </div>
            <section class="tables" id="tablepohotovosti">
               
                <div class="table-div pohotovosti">
                
                    <form asp-action="Zapis" asp-controller="Pohotovosti"> 
                        <h2 style="display: flex; justify-content: center;">Pohotovosti:</h2>                  
                        <table>
                            <thead>
                                <tr>
                                    <th>Jmeno</th>
                                    <th>Tel</th>
                                    <th>Firma</th>
                                    <th>Začátek</th>
                                    <th>Konec</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var pohotovost in Model.PohotovostList)
                                {
                                    <tr>
                                        <td>@pohotovost.Technik.Jmeno</td>
                                        <td>@pohotovost.User.PhoneNumber</td>
                                        <td>@pohotovost.Technik.Firma.NázevFirmy</td>
                                        <td>@pohotovost.Začátek</td>
                                        <td>@pohotovost.Konec</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h2 style=" display:flex; justify-content: center;">Zapsat se</h2>
                        <div class="buttondiv">
                            <div>
                                <a>Technik:</a>
                                <select asp-for="TechnikMod.IdTechnika">
                                    @foreach(var Technik in Model.TechnikList)
                                    {
                                    <option value="@Technik.IdTechnika">@Technik.Jmeno</option>
                                    }
                                </select>
                                
                            </div>
                            <div>
                                <a>Začátek</a><br>
                                <input asp-for="PohotovostMod.Začátek" type="datetime-local">    
                            </div>    
                            <div>
                                <a>Konec</a><br>
                                <input asp-for="PohotovostMod.Konec" type="datetime-local">    
                            </div>   
                            <button type="submit" class="button"><a class="text-button">Zapsat se</a></button>
                        </div>
                    </form>    
                </div> 
                @if(User.IsInRole("Admin"))
                {
                    <form asp-action="Nacteni" asp-controller="Lokality">
                        <button type="submit">VYTVOŘ</button>
                    </form>
                }
               
            </section>     
        </div>
         
    </body>
</html>