@model Diesel_modular_application.Models.OdstavkyViewModel
<html>
    <body>
        <div class="odstavky-section">
            <div class="div-odstavka-create">
                
                <form asp-action="Create" asp-controller="Odstavky" class="form-odstavky">
                    <div class="form">
                        <h2>Vytvořit odstávku:</h2>
                        <label>Lokalita:</label>
                        <div class="div-form">
                            <input asp-for="AddOdstavka.Lokality.Lokalita" type="text" class="input odstavky">
                        </div>
                    </div>
                    <div class="form">
                        <label>Od:</label>
                        <input type="datetime-local" asp-for="AddOdstavka.Od" class="input odstavky"> 
                    </div>
                    <div class="form">
                        <label>Do:</label>
                        <input type="datetime-local" asp-for="AddOdstavka.Do" class="input odstavky">
                    </div>
                    <div class="form">
                        <label>Popis:</label>
                       
                        <textarea type="text" style="border-color:#cbd0dd; border-radius:5px;  "class="input-text" asp-for="AddOdstavka.Popis" class="input odstavky"></textarea>
                    </div>
                    
                        <button type="submit" class="button"><a class="text-button">Vytvořit</a></button>
                    
                </form>
            </div>
            <section class="tables">
               
                <div class="table-div pohotovosti">
                
                    <form asp-action="Zapis" asp-controller="Pohotovosti"> 
                        <h2>Pohotovosti:</h2>                  
                        <table>
                            <thead>
                                <tr>
                                    <th>Jmeno</th>
                                    <th>Tel</th>
                                    <th>Firma</th>
                                    <th>Začátek</th>
                                    <th>Konec</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var pohotovost in Model.PohotovostList)
                                {
                                    <tr>
                                        <td>@pohotovost.Technik.Jmeno</td>
                                        <td>@pohotovost.User.PhoneNumber</td>
                                        <td>@pohotovost.Technik.Firma.NázevFirmy</td>
                                        <td>@pohotovost.Začátek</td>
                                        <td>@pohotovost.Konec</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="buttondiv">
                            <button type="submit" class="button"><a class="text-button">Zapsat se</a></button>
                        </div>
                    </form>    
                </div> 
                <form asp-action="Nacteni" asp-controller="Lokality">
                    <button type="submit">VYTVOŘ</button>
                </form>
               
            </section>     
        </div>

        <div class="menu">
            <ul class="ul-footer">
                <li class="nav-footer"><a class="a-text">Přidat odstávku</a></li>
                <li class="nav-footer"><a class="a-text">Odstávky</a></li>
            </ul>
        </div>
        <div class="div-odstavky-table">
            <div class="table-div odstavkyTable">
                <table>
                    <thead>
                        <tr>
                            <th>Id<i class="fa-solid fa-id-badge"></i></th>
                            <th>Distributor<i class="fa-solid fa-bolt"></i></th>
                            <th>Lokalita<i class="fa-solid fa-tower-broadcast"></i></th>
                            <th>Klasifikace<i class="fa-solid fa-star"></i></th>
                            <th>Od<i class="fa-solid fa-clock"></i></th>
                            <th>Do<i class="fa-solid fa-clock"></i></th>
                            <th>Adresa<i class="fa-solid fa-house"></i></th>
                            <th>Baterie<i class="fa-solid fa-battery-full"></i></th>
                            <th>Zásuvka<i class="fa-solid fa-plug"></i></th>
                            <th>Popis</th>
                        </tr>
                    </thead>
                    @if(Model == null)
                    {
                    <div class="error">
                        <h1>Nelze načíst</h1>
                    </div>
                    }
                    <tbody>
                        @if (Model != null)
                        {
                            <div>
                                @ViewBag.Message
                            </div>

                            @foreach(var odstavky in Model.OdstavkyList)
                            {
                                <tr>
                                    <td>@odstavky.IdOdstavky</td>
                                    <td>
                                        @odstavky.Distributor</td>
                            
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Lokalita))
                                    {
                                        <td>@odstavky.Lokality.Lokalita
                                            @if(odstavky.Lokality.Klasifikace=="A1")
                                        {
                                            <span title="Kritická priorita" class="status red"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="A2")
                                        {
                                            <span title="Vysoká priorita" class="status orange"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="B1")
                                        {
                                            <span title="Středně-vysoká priorita" class="status yellow"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="B2")
                                        {
                                            <span title="Středně-nízká priorita" class="status light-green"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="C" || odstavky.Lokality.Klasifikace=="B")
                                        {
                                            <span title="Nízká priorita" class="status green"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="D1")
                                        {
                                            <span title="Velmi-nízká priorita" class="status blue"></span>
                                        }
                                        </td>
                                    }
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Klasifikace))
                                    {
                                        <td>@odstavky.Lokality.Klasifikace</td>
                                    }
                                    <td>@odstavky.Od</td>
                                    <td>@odstavky.Do</td>
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Adresa))
                                    {
                                        <td>@odstavky.Lokality.Adresa</td>
                                    }
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Baterie))
                                    {
                                        <td>@odstavky.Lokality.Baterie</td>
                                    }
                                    @if(odstavky.Lokality != null && !string.IsNullOrEmpty(odstavky.Lokality.Zásuvka))
                                    {
                                        <td>@odstavky.Lokality.Zásuvka
                                            @if(odstavky.Lokality.Zásuvka=="TRUE")
                                            {
                                                <span class="status green"></span>
                                            }
                                            @if(odstavky.Lokality.Zásuvka=="FALSE")
                                            {
                                                <span class="status red"></span>
                                            }
                                        </td>
                                    }
                                    <td>@odstavky.Popis</td>
                                </tr>
                            }  
                            
                        }
                    </tbody>
                
                    
                    
                </table>
            </div>
    </div>
    </body>
</html>