@model Diesel_modular_application.Models.OdstavkyViewModel
@using PagedList.Core.Mvc;

  @foreach (var lokality in Model.LokalityList)
{
    <tr>
        <td>@lokality.Id</td>
        <td>@lokality.Lokalita</td>
        <td>
            @{
                var klasifikacebarva = new Dictionary<string,string>
                {
                    { "A1", "#c91829" },
                    { "A2", "orange" },
                    { "B1", "yellow" },
                    { "B2", "lightgreen" },
                    { "B", "green" },
                    { "C", "green" },
                    { "D1", "blue" }

                };
                if(klasifikacebarva.TryGetValue(lokality.Klasifikace, out var barva))
                {
                    <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: @barva; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;"> @lokality.Klasifikace </span>
                    </span>
                }
            }
        </td>
        <td>@lokality.Adresa</td>
        <td>@lokality.Region.NazevRegionu</td>
        <td>@lokality.Baterie</td>
        <td>
            @if(lokality.Zásuvka=="TRUE")
            {
                <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
            }
            @if(lokality.Zásuvka=="FALSE")
            {
                <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
            }
        </td>
        <td>
            @if(lokality.DA=="TRUE")
            {
                <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
            }
            @if(lokality.DA=="FALSE")
            {
                <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
            }
        </td>
    </tr>
}