@model Diesel_modular_application.Models.OdstavkyViewModel
<div class="conteiner" id="con">
    <div class="tables-row">
        
        <div class="section small" style="flex: none; width: 25%; height: 350px;" >
            <h1>Detail Dieslovani</h1>
            <p>ID dieslovani: @Model.DieslovaniMod.IdDieslovani</p>
            <p>ID odstávky: @Model.DieslovaniMod.Odstavka.IdOdstavky</p>
            <p>Lokalita: @Model.DieslovaniMod.Odstavka.Lokality.Lokalita</p>
            <p>Klasifikace: @Model.DieslovaniMod.Odstavka.Lokality.Klasifikace </p>
            <p>Výdrž baterie: @Model.DieslovaniMod.Odstavka.Lokality.Baterie min</p>
            <p>Region: @Model.DieslovaniMod.Odstavka?.Lokality?.Region?.NazevRegionu</p>
            <p>Technik: @Model.DieslovaniMod.Technik?.Jmeno  @Model.DieslovaniMod.Technik?.Prijmeni</p>


        </div>
        <div class="section small" style="flex: none; width: 75%; height: 350px;">
            <div class="bodybatery">
                <div class="diagram">
                    <div class="component">
                        <div class="icon">Mains</div>
                        <div>233V</div>
                    </div>
                    <div class="connector">
                        <div class="currentt">33A</div>
                    </div>
                    <div class="component">
                        <div class="icon">Rectifier</div>
                        <div>2kW</div>
                    </div>
                    <div class="connector">
                        <div class="currentt">20.2A</div>
                
                    </div>
                    <div class="component">
                        <div class="icon">DC</div>
                    </div>
                
                    <div class="batteryconnector">
                        <div class="connector battery">
                        </div> 
                        <div class="battery">
                            <div class="icon"></div>
                            <div class="status">Auto EQ Charge 41%</div>
                        </div>
                    </div>

                </div>
            </div>  
        </div>   
        <div class="tables-row" style="width: 100%; justify-content: center;">
            <div class="table-div odstavkyTable">
                <div class="name">
                    <h2 style="padding-right:20px; color: black;">Všechny odstávky <i class="fa-solid fa-bolt"></i></h2>
                    <div>
                        <span class="legenda">
                            Aktivní :
                            <i class="fa-solid fa-square" style="color: rgba(0, 128, 0, 0.371)"></i>
                        </span>
                        <span class="legenda">
                            Ukončené :
                            <i class="fa-solid fa-square" style="color: rgba(255, 0, 0, 0.382)"></i>
                        </span>
                        <span class="legenda">
                            Nekativni :
                            <i class="fa-solid fa-square" style="color: #0055ff28"></i>
                        </span>
                        <span class="legenda">
                            Nepřižazeno :
                            <i class="fa-solid fa-square" style="color:  rgba(255, 166, 0, 0.521"></i> 
                        </span>
                        <span class="legenda">
                            Čekající :
                            <i class="fa-solid fa-square" style="color: rgba(255, 255, 0, 0.321"></i>
                        </span>  
                    </div>
                </div>
                <table id="odTable" style="margin-bottom: 15px;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Distributor</th>
                            <th>Lokalita</th>
                            <th>Klasifikace</th>
                            <th>Od</th>
                            <th>Do</th>
                            <th>Adresa</th>
                            <th>Baterie<a> [min]</a></th>
                            <th>Popis</th>
                            <th>Zásuvka</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-body">     
                    </tbody>          
                </table>   
            </div>
                
            
        </div>
    </div>
</div>