@model Diesel_modular_application.Models.OdstavkyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="conteiner">
        <section class="tables-row">
            <div class="section small">
                <h2>Aktuální dieslování:</h2>
                <div class="table-div now">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="vstup">Vstup</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model!=null)
                            {

                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanVstup==true)
                                    {
                                        <tr>
                                            <td title="aktivni vstup">
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Aktivní</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>  
                                            </td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td>@dieslovani.Firma.NázevFirmy</td>
                                            <td>@dieslovani.Vstup</td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="Odchod">
                                                <i class="fa-solid fa-arrow-right red-arrow"></i>
                                                    <div class="overlay">
                                                        <form asp-action="Odchod" asp-controller="Dieslovani">
                                                            <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                            <input asp-for="DieslovaniMod.Odchod" type="datetime-local">
                                                            <button type="submit"> <i type="submit" class="fa-solid fa-check" style="color: #1e9f27;"> </i></button>
                                                                <div>@ViewBag.Message</div>
                                                        </form>
                                                    </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní nadcházející:</h2>
                <div class="table-div upcoming">
                    <table id="upcoming-table">
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="objednano">Objednáno</th>
                                <th id="com"></th>
                                <th id="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                   
                                        @foreach (var dieslovani in Model.DieslovaniList)
                                       {
                                            @if(dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanVstup==false && dieslovani.Odstavka.ZadanOdchod==false)
                                            {
                                                <tr>
                                                    @if(dieslovani.Odstavka.Od.AddHours(2)>DateTime.Now)
                                                    {
                                                        <td title="čeká se"><span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px;">
                                                            <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                                <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                            </span>    
                                                        </td>
                                                    }
                                                    @if(dieslovani.Odstavka.Od.AddHours(2)<DateTime.Now)
                                                    {
                                                        <td title="technik nedorazil, kontaktuj ho"> <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px;">
                                                            <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                                <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                            </span>
                                                        </td>
                                                    }
                                                    <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                                    <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                        @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                            {
                                                                <span title="Kritická priorita" class="status red"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                            {
                                                                <span title="Vysoká priorita" class="status orange"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                            {
                                                                <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                            {
                                                                <span title="Středně-nízká priorita" class="status light-green"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                            {
                                                                <span title="Nízká priorita" class="status green"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                            {
                                                                <span title="Velmi-nízká priorita" class="status blue"></span>
                                                            }
                                                    </td>
                                                    <td>@dieslovani.Firma.NázevFirmy</td>
                                                    <td>@dieslovani.Odstavka.Od.AddHours(2)</td>
                                                    <td title="komentář">
                                                        <i class="fa-regular fa-comment comment-icon"></i>
                                                        <div class="comment-box">
                                                            <textarea placeholder="Zadejte komentář..."></textarea>
                                                            <div class="comment-actions">
                                                                <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                                <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td title="Vstup">
                                                        <i class="fa-solid fa-arrow-right green-arrow"></i>
                                                        <div class="overlay">
                                                            <form asp-action="Vstup" asp-controller="Dieslovani">
                                                                <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                                <input asp-for="DieslovaniMod.Vstup" type="datetime-local">
                                                                <button type="submit"> <i type="submit" class="fa-solid fa-check" style="color: #1e9f27;"> </i></button>
                                                                 <div>@ViewBag.Message</div>
                                                            </form>
                                                     
                                                        </div>
                                                      
                                                    </td>
                                                </tr>
                                            }
                                            
                                        }
                                    
                                

                                    
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní ukončené:</h2>
                <div class="table-div end">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="odchod">Odchod</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanOdchod==true)
                                    {
                                        <tr>
                                            <td title="neaktivní"><span class="status red"></span></td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td>@dieslovani.Firma.NázevFirmy</td>
                                            <td>@dieslovani.Odchod</td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="celkový čas dieslování"><i class="fa-solid fa-clock"></i></td>
                                        </tr>
                                    }

                                }

                            }


                        </tbody>
                    </table>
                </div>    
            </div>
        </section>
        <section class="section">
            <h2>Všechny dnešní:</h2>
            <div class="table-div all">
                <table id="todayall-table">
                    <thead>
                        <tr>
                            <th id="th-stav">Stav</th>
                            <th id="th-lokalita">Lokalita<i class="fa-solid fa-tower-broadcast"></i></th>
                            <th id="th-klasifikace">Klasifikace<i class="fa-solid fa-star"></th>
                            <th id="th-firma">Firma <i class="fa-solid fa-building"></i></th>
                            <th></th>
                            <th id="th-objednano">Objednáno<i class="fa-solid fa-clock"></i></th>
                            <th id="th-vstup">Vstup <i class="fa-solid fa-door-open"></i></th>
                            <th id="th-odchod">Odchod <i class="fa-solid fa-door-closed"></i></th>
                            <th id="th-poznamka">Poznámka</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var dieslovani in Model.DieslovaniList)
                            {
                                if(dieslovani.Odstavka.Od.Date==DateTime.Today)
                                {                                
                                    <tr class="table-row">
                                        <td id="td-stav">
                                            @if(dieslovani.Odstavka.Od<DateTime.Now && dieslovani.Odstavka.ZadanOdchod==true)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: #c91829; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Ukončené</span>
                                                    <i class="fa-solid fa-x" style="color: Black;"></i>
                                                </span> 
                                            }
                                            @if (dieslovani.Odstavka.Od > DateTime.Now)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>                                            
                                            }
                                            @if(dieslovani.Odstavka.Od<DateTime.Now && dieslovani.Odstavka.ZadanVstup==false)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span> 
                                            }
                                            @if(dieslovani.Odstavka.ZadanVstup==true)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Aktivní</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>    
                                            }
                                        </td>
                                        <td id="td-lokalita">@dieslovani.Odstavka.Lokality.Lokalita</td>
                                        <td id="td-klasifikace">@dieslovani.Odstavka.Lokality.Klasifikace
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                            {
                                                <span title="Kritická priorita" class="status red"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                            {
                                                <span title="Vysoká priorita" class="status orange"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                            {
                                                <span title="Středně-vysoká priorita" class="status yellow"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                            {
                                                <span title="Středně-nízká priorita" class="status light-green"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                            {
                                                <span title="Nízká priorita" class="status green"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                            {
                                                <span title="Velmi-nízká priorita" class="status blue"></span>
                                            }
                                        </td>
                                        <td id="td-firma">
                                            @dieslovani.Odstavka.Lokality.Region.Firma.NázevFirmy
                                        </td>
                                        <td>@dieslovani.Technik.Jmeno</td>
                                        <td id="td-objednano">@dieslovani.Odstavka.Od</td>  
                                        <td id="td-vstup">@if(dieslovani.Vstup==DateTime.MinValue)
                                            {
                                                <a>-</a>
                                            }
                                            else
                                            @dieslovani.Odstavka.Vstup
                                        </td>
                                          <td id="td-vstup">@if(dieslovani.Odchod==DateTime.MinValue)
                                            {
                                                <a>-</a>
                                            }
                                            else
                                            @dieslovani.Odstavka.Odchod
                                        </td>
                                        <td id="td-poznamka"></td>
                                        <td>
                                            <div class="button-conteiner">
                                                <button class="button Edit"><i class="fa-solid fa-ellipsis" style="color: black;"></i></button>
                                                <div class="hidden-buttons">
                                                    <form asp-action="Delete" asp-controller="Dieslovani">
                                                        <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                        <button class="button Edit delete"><i class="fa-solid fa-trash" style="color: black;"></i></button>
                                                    </form>
                                                    <button class="button Edit ed"><i class="fa-solid fa-pen" style="color: black;"></i></button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }   
                        }
                    </tbody>
                </table>
            </div>    
        </section>
    </div>
  

</body>
</html>


