@model Diesel_modular_application.Models.OdstavkyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="conteiner">
        <div class="tables-row" style="justify-content: center;">
            
            <h2>Aktuální dieslování:</h2>
            <div class="table-div odstavkyTable">
                <table id="runningTable">
                    <thead>
                        <tr>
                            <th>Stav</th>
                            <th>Id</th>
                            <th>Distributor</th>
                            <th>Lokalita</th>
                            <th>Klasifikace</th>
                            <th>Technik</th>
                            <th>Vstup</th>
                            <th>Popis</th>
                            <th>Baterie</th>
                            <th>Zásuvka</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>     
                    </tbody>
                </table>
            </div>
            
            
            <h2>Dnešní nadcházející:</h2>
            <div class="table-div odstavkyTable">
                <table id="upcomingTable">  
                    <thead>
                        <tr>
                            <th>Stav</th>
                            <th>Id</th>
                            <th>Distributor</th>
                            <th>Lokalita</th>
                            <th>Klasifikace</th>
                            <th>Technik</th>
                            <th>Objednáno</th>
                            <th>Popis</th>
                            <th>Baterie</th>
                            <th>Zásuvka</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>       
                    </tbody>
                </table>
            </div>
            
        </div>    

        <div class="tables-row">
            <div class="section small">
                <h2>Dnešní ukončené:</h2>
                <div class="table-div odstavkyTable" style="width: 98%">
                    <table id="endTable">
                        <thead>
                            <tr>
                                <th>Stav</th>
                                <th>Id</th>
                                <th>Distributor</th>
                                <th>Lokalita</th> 
                                <th>Klasifikace</th>
                                <th>Odchod</th>
                                <th>Zásuvka</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div> 
                <h2>Koš:</h2>
                <div class="table-div odstavkyTable" style="width: 98%;">
                    <table id="thrashTable">
                        <thead>
                            <tr>
                                <th>Stav</th>
                                <th>Id</th>
                                <th>Distributor</th>
                                <th>Lokalita</th> 
                                <th>Klasifikace</th>
                                <th>Firma</th>
                                <th>Převzít</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>   
            </div>
            <div class="section small">
                <h2>Aktuální vytížení:</h2>
                <div class="main-container" style="width: 98%;">       
            @{
                    int totalOdstavky = Model.OdstavkyList.Where(d=>d.Od.Date==DateTime.Today && (d.ZadanVstup == true || d.Od.Date == DateTime.Today) && d.Lokality.DA=="FALSE").Count();
                    int regionA = Model.OdstavkyList.Where(o => o.Lokality.Region.NazevRegionu == "Západní Čechy" && o.Od.Date <= DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();
                    int regionB = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Čechy" && o.Od.Date==DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();
                    int regionC = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Praha + Střední Čechy" && o.Od.Date==DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();
                    int regionD = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Morava" && o.Od.Date==DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();
                    int regionE = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Morava" && o.Od.Date==DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();
                    int regionF =Model.OdstavkyList.Where(o => o.Lokality.Region.NazevRegionu =="Severní Čechy" && o.Od.Date == DateTime.Today && (o.ZadanVstup == true || o.Od.Date == DateTime.Today)).Count();



                    double percentA = (double)regionA / totalOdstavky * 100;
                    double percentB = (double)regionB / totalOdstavky * 100;
                    double percentC = (double)regionC / totalOdstavky * 100;
                    double percentD = (double)regionD / totalOdstavky * 100;
                    double percentE = (double)regionE / totalOdstavky * 100;
                    double percentF = (double)regionF / totalOdstavky * 100;

                    double startB = percentA;
                    double startC = startB + percentB;
                    double startD = startC + percentC;
                    double startE = startD + percentD;
                    double startF = startE + percentE;
                    }
                    <div class="year-stats">
                        <div class="month-group">
                            <div title="@percentF%" class="bar h-50" style="background-color: red; height:@percentF.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>  
                            <p class="month" style="margin:0px">Severní Čechy</p>                       
                        </div>
                        <div class="month-group">                          
                            <div title="@percentE%" class="bar h-50" style="background-color:#4cc790; height: @percentE.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>                                              
                            <p class="month" style="margin:0px">Jižní Morava</p>  
                        </div>
                        <div class="month-group">
                            <div title="@regionD%" class="bar h-50" style="background-color: #0f1783; height: @percentD.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>                                                  
                            <p class="month" style="margin:0px">Severní Morava</p>  
                        </div>    
                        <div class="month-group" style="max-width: 165px;">                
                            <div title="@regionC%" class="bar h-50" style="background-color: #5397d6; height:@percentC.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>                                              
                            <p class="month" style="margin:0px">Praha + Střední Čechy</p>  
                        </div>  
                        <div class="month-group" >
                            <div title="@regionB%" class="bar h-50" style="background-color: #e59f3c; height: @percentB.ToString("F2", System.Globalization.CultureInfo.InvariantCulture);"></div>                                              
                            <p class="month" style="margin:0px">Jižní Čechy</p>  
                        </div>
                        <div class="month-group" > 
                            <div title="@regionA%" class="bar h-50" style="background-color: #915db1; height: @percentA.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)"></div>                                 
                            <p class="month" style="margin:0px">Západní Čechy</p>  
                        </div>  
                    </div>
                   

                    <div class="stats-info">
                        <div class="graph-container">
                            <div class="percent">
                                <svg viewBox="0 0 36 36" class="circular-chart">
                                    <path class="circle" stroke-dasharray="@percentA.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentB.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startB.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentC.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startC.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentD.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startD.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentE.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startE.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentF.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startF.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                </svg>
                            </div>
                            <p>Total:@Model.OdstavkyList.Where(d=>d.Od.Date==DateTime.Today).Count()</p>
                            </div>
                            <div class="info">
                                <div class="region-sctn">
                                    <p>Praha:<span>@regionC</span></p>
                                    <p>Jížní Čechy<span>@regionB</span></p>
                                    <p>Severní Čechy:<span>@regionF</span></p>
                                </div>
                                <div class="region-sctn">
                                    <p>Západní Čechy:<span>@regionA</span></p>    
                                    <p>Severní Morava<span>@regionD</span></p>
                                    <p>Jížní Morava:<span>@regionE</span></p>
                                </div>
                                
                           
                            </div>
                        
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="tables-row" style="justify-content: center; margin-bottom: 15px;">
                <h2>Všechna dieslovaní:</h2>
                <div class="table-div odstavkyTable" id="all-table">
                    <table id="allTable">
                        <thead>
                            <tr>
                                <th>Stav</th>
                                <th>Id</th>
                                <th>Distributor</th>
                                <th>Lokalita</th>
                                <th>Klasifikace</th>
                                <th>Adresa</th>
                                <th>Firma</th>
                                <th>Technik</th>
                                <th>Region</th>
                                <th>Objednáno</th>
                                <th>Konec Odstávky</th>
                                <th>Vstup</th>
                                <th>Odchod</th>
                                <th>Popis</th>
                                <th>Baterie</th>
                                <th>Zásuvka</th>
                                <th></th>
                            </tr>
                        </thead>
                            <tbody id="table-body">
                                   
                            </tbody>
                    </table>
                </div>         
        </div>
    </div>
  

</body>
</html>


