@model Diesel_modular_application.Models.OdstavkyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="conteiner">
        <section class="tables-row">
            <div class="section small">
                <h2>Aktuální dieslování:</h2>
                <div class="table-div now">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="vstup">Vstup</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model!=null)
                            {

                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanVstup==true)
                                    {
                                        <tr>
                                            <td title="aktivni vstup"><span class="status green"></span>
                                            </td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="Odchod">
                                                <i class="fa-solid fa-arrow-right red-arrow"></i>
                                                <div class="overlay">
                                                    <span id="current-datetime"></span>
                                                    <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní nadcházející:</h2>
                <div class="table-div upcoming">
                    <table id="upcoming-table">
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="objednano">Objednáno</th>
                                <th id="com"></th>
                                <th id="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                   
                                        @foreach (var odstavky in Model.OdstavkyList)
                                       {
                                            @if(odstavky.Od.Date==DateTime.Today && odstavky.ZadanVstup==false)
                                            {
                                                <tr>
                                                    @if(odstavky.Od.AddHours(2)>DateTime.Now)
                                                    {
                                                        <td title="čeká se"><span class="status yellow"></span></td>
                                                    }
                                                    @if(odstavky.Od.AddHours(2)<DateTime.Now)
                                                    {
                                                        <td title="technik nedorazil, kontaktuj ho"><span class="status orange"></span></td>
                                                    }
                                                    <td>@odstavky.Lokality.Lokalita</td>
                                                    <td>@odstavky.Lokality.Klasifikace
                                                        @if(odstavky.Lokality.Klasifikace=="A1")
                                                            {
                                                                <span title="Kritická priorita" class="status red"></span>
                                                            }
                                                            @if(odstavky.Lokality.Klasifikace=="A2")
                                                            {
                                                                <span title="Vysoká priorita" class="status orange"></span>
                                                            }
                                                            @if(odstavky.Lokality.Klasifikace=="B1")
                                                            {
                                                                <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                            }
                                                            @if(odstavky.Lokality.Klasifikace=="B2")
                                                            {
                                                                <span title="Středně-nízká priorita" class="status light-green"></span>
                                                            }
                                                            @if(odstavky.Lokality.Klasifikace=="C" || odstavky.Lokality.Klasifikace=="B")
                                                            {
                                                                <span title="Nízká priorita" class="status green"></span>
                                                            }
                                                            @if(odstavky.Lokality.Klasifikace=="D1")
                                                            {
                                                                <span title="Velmi-nízká priorita" class="status blue"></span>
                                                            }
                                                    </td>
                                                    <td></td>
                                                    <td>@odstavky.Od.AddHours(2)</td>
                                                    <td title="komentář">
                                                        <i class="fa-regular fa-comment comment-icon"></i>
                                                        <div class="comment-box">
                                                            <textarea placeholder="Zadejte komentář..."></textarea>
                                                            <div class="comment-actions">
                                                                <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                                <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td title="Vstup">
                                                        <i class="fa-solid fa-arrow-right green-arrow"></i>
                                                        <div class="overlay">
                                                            <form asp-action="Vstup" asp-controller="Dieslovani">
                                                       
                                                                <input asp-for="DieslovaniMod.Vstup" type="datetime-local">
                                                                <button type="submit"> <i type="submit" class="fa-solid fa-check" style="color: #1e9f27;"> </i></button>
                                                                    
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            
                                        }
                                    
                                

                                    
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní ukončené:</h2>
                <div class="table-div end">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="odchod">Odchod</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanOdchod==true)
                                    {
                                        <tr>
                                            <td title="neaktivní"><span class="status red"></span></td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="celkový čas dieslování"><i class="fa-solid fa-clock"></i></td>
                                        </tr>
                                    }

                                }

                            }


                        </tbody>
                    </table>
                </div>    
            </div>
        </section>
        <section class="section">
            <h2>Všechny dnešní:</h2>
            <div class="table-div all">
                <table id="todayall-table">
                    <thead>
                        <tr>
                            <th id="th-stav">Stav</th>
                            <th id="th-lokalita">Lokalita<i class="fa-solid fa-tower-broadcast"></i></th>
                            <th id="th-klasifikace">Klasifikace<i class="fa-solid fa-star"></th>
                            <th id="th-firma">Firma <i class="fa-solid fa-building"></i></th>
                            <th id="th-objednano">Objednáno<i class="fa-solid fa-clock"></i></th>
                            <th id="th-vstup">Vstup <i class="fa-solid fa-door-open"></i></th>
                            <th id="th-odchod">Odchod <i class="fa-solid fa-door-closed"></i></th>
                            <th id="th-poznamka">Poznámka</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var odstavky in Model.OdstavkyList)
                            {
                                <tr>
                                    <td id="td-stav">
                                        @if(odstavky.Od<DateTime.Now)
                                        {
                                            <span class="status red"></span>
                                        }
                                        @if (odstavky.Od > DateTime.Now)
                                        {
                                            <span class="status green"></span>
                                        }
                                    </td>
                                    <td id="td-lokalita">@odstavky.Lokality.Lokalita</td>
                                    <td id="td-klasifikace">@odstavky.Lokality.Klasifikace
                                        @if(odstavky.Lokality.Klasifikace=="A1")
                                        {
                                            <span title="Kritická priorita" class="status red"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="A2")
                                        {
                                            <span title="Vysoká priorita" class="status orange"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="B1")
                                        {
                                            <span title="Středně-vysoká priorita" class="status yellow"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="B2")
                                        {
                                            <span title="Středně-nízká priorita" class="status light-green"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="C" || odstavky.Lokality.Klasifikace=="B")
                                        {
                                            <span title="Nízká priorita" class="status green"></span>
                                        }
                                        @if(odstavky.Lokality.Klasifikace=="D1")
                                        {
                                            <span title="Velmi-nízká priorita" class="status blue"></span>
                                        }
                                    </td>
                                    <td id="td-firma">
                                        @odstavky.Lokality.Region.Firma.NázevFirmy
                                    </td>
                                    <td id="td-objednano">@odstavky.Od</td>
                                    <td id="td-vstup"></td>
                                    <td id="td-odchod"></td>
                                    <td id="td-poznamka"></td>
                                </tr>
                               
                            }   
                        }
                    </tbody>
                </table>
            </div>    
        </section>
    </div>
  

</body>
</html>


