@model Diesel_modular_application.Models.OdstavkyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="conteiner">
        <div class="tables-row">
            <div class="section small" style="border-right: 0px;">
                <h2>Aktuální dieslování:</h2>
                <div class="table-div odstavkyTable">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th>Distributor</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="vstup">Vstup</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
    
                        </thead>
                        <tbody>
                            @if(Model!=null)
                            {

                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanVstup==true)
                                    {
                                        <tr>
                                            <td title="aktivni vstup">
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Aktivní</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>  
                                            </td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td>@dieslovani.</td>
                                            <td>@dieslovani.Vstup</td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="Odchod">
                                                <i class="fa-solid fa-arrow-right red-arrow"></i>
                                                    <div class="overlay">
                                                        <form asp-action="Odchod" asp-controller="Dieslovani">
                                                            <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                            <input asp-for="DieslovaniMod.Odchod" type="datetime-local">
                                                            <button type="submit"> <i type="submit" class="fa-solid fa-check" style="color: #1e9f27;"> </i></button>
                                                                <div>@ViewBag.Message</div>
                                                        </form>
                                                    </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small" style="border-right: 0px;">
                <h2>Dnešní nadcházející:</h2>
                <div class="table-div home">
                    <table id="upcoming-table" class="table-home">
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="objednano">Objednáno</th>
                                <th id="com"></th>
                                <th id="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                   
                                        @foreach (var dieslovani in Model.DieslovaniList)
                                       {
                                            @if(dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanVstup==false && dieslovani.Odstavka.ZadanOdchod==false)
                                            {
                                                <tr>
                                                    @if(dieslovani.Odstavka.Od.AddHours(2)>DateTime.Now)
                                                    {
                                                        <td title="čeká se"><span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px;">
                                                            <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                                <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                            </span>    
                                                        </td>
                                                    }
                                                    @if(dieslovani.Odstavka.Od.AddHours(2)<DateTime.Now)
                                                    {
                                                        <td title="technik nedorazil, kontaktuj ho"> <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px;">
                                                            <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                                <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                            </span>
                                                        </td>
                                                    }
                                                    <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                                    <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                        @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                            {
                                                                <span title="Kritická priorita" class="status red"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                            {
                                                                <span title="Vysoká priorita" class="status orange"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                            {
                                                                <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                            {
                                                                <span title="Středně-nízká priorita" class="status light-green"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                            {
                                                                <span title="Nízká priorita" class="status green"></span>
                                                            }
                                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                            {
                                                                <span title="Velmi-nízká priorita" class="status blue"></span>
                                                            }
                                                    </td>
                                                    <td>@dieslovani.Odstavka.Od.AddHours(2)</td>
                                                    <td title="komentář">
                                                        <i class="fa-regular fa-comment comment-icon"></i>
                                                        <div class="comment-box">
                                                            <textarea placeholder="Zadejte komentář..."></textarea>
                                                            <div class="comment-actions">
                                                                <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                                <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td title="Vstup">
                                                        <i class="fa-solid fa-arrow-right green-arrow"></i>
                                                        <div class="overlay">
                                                            <form asp-action="Vstup" asp-controller="Dieslovani">
                                                                <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                                <input asp-for="DieslovaniMod.Vstup" type="datetime-local">
                                                                <button type="submit"> <i type="submit" class="fa-solid fa-check" style="color: #1e9f27;"> </i></button>
                                                                 <div>@ViewBag.Message</div>
                                                            </form>
                                                     
                                                        </div>
                                                      
                                                    </td>
                                                </tr>
                                            }
                                            
                                        }
                                    
                                

                                    
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
        <div class="tables-row">
            <div class="section small">
                <h2>Dnešní ukončené:</h2>
                <div class="table-div home">
                    <table class="table-home">
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th> 
                                <th id="klasifikace">Klasifikace</th>
                                <th id="odchod">Odchod</th>
                                <th id="com"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var dieslovani in Model.DieslovaniList)
                                {
                                    @if (dieslovani.Odstavka.Od.Date==DateTime.Today && dieslovani.Odstavka.ZadanOdchod==true)
                                    {
                                        <tr>
                                            <td title="neaktivní"><span class="status red"></span></td>
                                            <td>@dieslovani.Odstavka.Lokality.Lokalita</td>
                                            <td>@dieslovani.Odstavka.Lokality.Klasifikace
                                                 @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                                    {
                                                        <span title="Kritická priorita" class="status red"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                                    {
                                                        <span title="Vysoká priorita" class="status orange"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                                    {
                                                        <span title="Středně-vysoká priorita" class="status yellow"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                                    {
                                                        <span title="Středně-nízká priorita" class="status light-green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                                    {
                                                        <span title="Nízká priorita" class="status green"></span>
                                                    }
                                                    @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                                    {
                                                        <span title="Velmi-nízká priorita" class="status blue"></span>
                                                    }
                                            </td>
                                            <td>@dieslovani.Odchod</td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="celkový čas dieslování"><i class="fa-solid fa-clock"></i></td>
                                        </tr>
                                    }

                                }

                            }


                        </tbody>
                    </table>
                </div>    
            </div>
            <div class="section small">
                <h2>Aktuální vytížení:</h2>
                <div class="main-container">
            
                    <div class="year-stats">
                        <div class="month-group">
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Čechy" && o.Od.Date==DateTime.Today && o.Do.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color: red;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Čechy" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color: red;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Čechy" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color: red;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Severní Čechy</p>   
                        </div>
                        <div class="month-group">
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jížní Morova" && o.Od.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color:#4cc790 ;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jížní Morova" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color:#4cc790 ;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jížní Morova" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color:#4cc790 ;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Jižní Morava</p>  
                        </div>
                        <div class="month-group">
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Morava" && o.Od.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color: #0f1783;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Morava" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color: #0f1783;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Morava" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color: #0f1783;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Severní Morava</p>  
                        </div>    
                        <div class="month-group" style="max-width: 165px;">
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Praha + Střední Čechy" && o.Od.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color: #5397d6;"></div>                       
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Praha + Střední Čechy" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color: #5397d6;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Praha + Střední Čechy" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color: #5397d6;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Praha + Střední Čechy</p>  
                        </div>  
                        <div class="month-group" >
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Čechy" && o.Od.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color: #e59f3c;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Čechy" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color: #e59f3c;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Čechy" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color: #e59f3c;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Jižní Čechy</p>  
                        </div>
                        <div class="month-group" >
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Západní Čechy" && o.Od.Date==DateTime.Today).Count()==1)
                            {   
                                <div title="50%" class="bar h-50" style="background-color: #915db1;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Západní Čechy" && o.Od.Date==DateTime.Today).Count()==2)
                            {   
                                <div title="100%" class="bar h-100" style="background-color: #915db1;"></div>                        
                            } 
                            @if(Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Západní Čechy" && o.Od.Date==DateTime.Today).Count()==0)
                            {   
                                <div class="bar h-0" style="background-color: #915db1;"></div>                        
                            } 
                            <p class="month" style="margin:0px">Západní Čechy</p>  
                        </div>  
                    </div>
                   @{
                    int totalOdstavky = Model.OdstavkyList.Where(d=>d.Od.Date==DateTime.Today).Count();
                    int regionA = Model.OdstavkyList.Where(o => o.Lokality.Region.NazevRegionu == "Západní Čechy" && o.Od.Date == DateTime.Today).Count();
                    int regionB = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Čechy" && o.Od.Date==DateTime.Today).Count();
                    int regionC = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Praha + Střední Čechy" && o.Od.Date==DateTime.Today).Count();
                    int regionD = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Severní Morava" && o.Od.Date==DateTime.Today).Count();  
                    int regionE = Model.OdstavkyList.Where(o=>o.Lokality.Region.NazevRegionu=="Jižní Morova" && o.Od.Date==DateTime.Today).Count();
                    int regionF =Model.OdstavkyList.Where(o => o.Lokality.Region.NazevRegionu =="Severní Čechy" && o.Od.Date == DateTime.Today).Count();



                    double percentA = (double)regionA / totalOdstavky * 100;
                    double percentB = (double)regionB / totalOdstavky * 100;
                    double percentC = (double)regionC / totalOdstavky * 100;
                    double percentD = (double)regionD / totalOdstavky * 100;
                    double percentE = (double)regionE / totalOdstavky * 100;
                    double percentF = (double)regionF / totalOdstavky * 100;

                    double startB = percentA;
                    double startC = startB + percentB;
                    double startD = startC + percentC;
                    double startE = startD + percentD;
                    double startF = startE + percentE;
                    }

                    <div class="stats-info">
                        <div class="graph-container">
                            <div class="percent">
                                <svg viewBox="0 0 36 36" class="circular-chart">
                                    <path class="circle" stroke-dasharray="@percentA.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentB.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startB.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentC.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startC.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentD.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startD.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentE.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startE.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                    <path class="circle" stroke-dasharray="@percentF.ToString("F2", System.Globalization.CultureInfo.InvariantCulture),100" stroke-dashoffset="-@startF.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)" d="M18 2.0845
                                        a 15.9155 15.9155 0 0 1 0 31.831
                                        a 15.9155 15.9155 0 0 1 0 -31.831" />
                                </svg>
                            </div>
                            <p>Total:@Model.OdstavkyList.Where(d=>d.Od.Date==DateTime.Today).Count()</p>
                            </div>
                            <div class="info">
                                <p>Praha:<span>@percentC</span></p>
                                <p>Sevrní Morava<span>@percentD</span></p>
                                <p>Severní Čechy:<span>@percentF</span></p>
                           
                            </div>
                        
                   
                    </div>
                </div>
            </div>
        </div>
        <div class="cnt" style="background-color: white;">
            @if (Model != null)
            {
                <section class="sctn search odstavkyTable">
                <h2 style="display: flex;justify-content: center;">Všechny dnešní:</h2>
                <div onsubmit="event.preventDefault();" role="search" class="form-import Search" style=" background-color: white;">
                    <input id="search" class="InputSearching" type="search" placeholder="Search..." autofocus required />
                    <button class="buttonsearch" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>  
                </div>
                </section>
                <div class="table-div odstavkyTable" style="width: 100%;">
                    <table>
                        <thead>
                            <tr>
                                <th id="th-stav">Stav</th>
                                <th id="th-lokalita">Lokalita<i class="fa-solid fa-tower-broadcast"></i></th>
                                <th id="th-klasifikace">Klasifikace<i class="fa-solid fa-star"></th>
                                <th>Adresa</th>
                                <th id="th-firma">Firma <i class="fa-solid fa-building"></i></th>
                                <th>Technik</th>
                                <th>Region</th>
                                <th id="th-objednano">Objednáno<i class="fa-solid fa-clock"></i></th>
                                <th id="th-vstup">Vstup <i class="fa-solid fa-door-open"></i></th>
                                <th id="th-odchod">Odchod <i class="fa-solid fa-door-closed"></i></th>
                                <th id="th-poznamka">Poznámka</th>
                                <th>Baterie</th>
                                <th>Zásuvka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dieslovani in Model.DieslovaniList)
                            {
                                @if(dieslovani.Odstavka.Od.Date==DateTime.Today)
                                {                                
                                    <tr class="table-row">
                                        <td id="td-stav">
                                            @if(dieslovani.Odstavka.Od<DateTime.Now && dieslovani.Odstavka.ZadanOdchod==true)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: #c91829; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Ukončené</span>
                                                    <i class="fa-solid fa-x" style="color: Black;"></i>
                                                </span> 
                                            }
                                            @if (dieslovani.Odstavka.Od > DateTime.Now)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>                                            
                                            }
                                            @if(dieslovani.Odstavka.Od<DateTime.Now && dieslovani.Odstavka.ZadanVstup==false)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Čekající</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span> 
                                            }
                                            @if(dieslovani.Odstavka.ZadanVstup==true)
                                            {
                                                <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px;">
                                                    <span class="badge-label" style="color: black; padding: 1px; font-size: small;">Aktivní</span>
                                                    <i class="fa-solid fa-clock-rotate-left" style="color: Black;"></i>
                                                </span>    
                                            }
                                        </td>
                                        <td id="td-lokalita">@dieslovani.Odstavka.Lokality.Lokalita</td>
                                        <td id="td-klasifikace">@dieslovani.Odstavka.Lokality.Klasifikace
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A1")
                                            {
                                                <span title="Kritická priorita" class="status red"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="A2")
                                            {
                                                <span title="Vysoká priorita" class="status orange"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B1")
                                            {
                                                <span title="Středně-vysoká priorita" class="status yellow"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="B2")
                                            {
                                                <span title="Středně-nízká priorita" class="status light-green"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="C" || dieslovani.Odstavka.Lokality.Klasifikace=="B")
                                            {
                                                <span title="Nízká priorita" class="status green"></span>
                                            }
                                            @if(dieslovani.Odstavka.Lokality.Klasifikace=="D1")
                                            {
                                                <span title="Velmi-nízká priorita" class="status blue"></span>
                                            }
                                        </td>
                                        @if(dieslovani.Odstavka.Lokality != null && !string.IsNullOrEmpty(dieslovani.Odstavka.Lokality.Adresa))
                                        {
                                            <td>@dieslovani.Odstavka.Lokality.Adresa</td>
                                        }
                                        <td id="td-firma">
                                            @dieslovani.Odstavka.Lokality.Region.Firma.NázevFirmy
                                        </td>
                                        <td>@dieslovani.Technik.Jmeno</td>
                                        <td>@dieslovani.Odstavka.Lokality.Region.NazevRegionu</td>
                                        <td id="td-objednano">@dieslovani.Odstavka.Od</td>  
                                        <td id="td-vstup">@if(dieslovani.Vstup==DateTime.MinValue)
                                            {
                                                <a>-</a>
                                            }
                                            else
                                            @dieslovani.Odstavka.Vstup
                                        </td>
                                        <td id="td-vstup">@if(dieslovani.Odchod==DateTime.MinValue)
                                            {
                                                <a>-</a>
                                            }
                                            else
                                            @dieslovani.Odstavka.Odchod
                                        </td>
                                        @if(dieslovani.Odstavka.Lokality != null && !string.IsNullOrEmpty(dieslovani.Odstavka.Lokality.Baterie))
                                        {
                                            <td>@dieslovani.Odstavka.Lokality.Baterie</td>
                                        }
                                        <td>@dieslovani.Odstavka.Popis</td>
                                        @if(dieslovani.Odstavka.Lokality != null && !string.IsNullOrEmpty(dieslovani.Odstavka.Lokality.Zásuvka))
                                        {
                                            <td class="content-cell"><span>
                                                @if(dieslovani.Odstavka.Lokality.Zásuvka=="TRUE")
                                                {
                                                    <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
                                                }
                                                @if(dieslovani.Odstavka.Lokality.Zásuvka=="FALSE")
                                                {
                                                    <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
                                                }
                                            </span></td>
                                        }
                                        <td>
                                            <div class="button-conteiner">
                                                <button class="button Edit"><i class="fa-solid fa-ellipsis" style="color: black;"></i></button>
                                                <div class="hidden-buttons">
                                                    <form asp-action="Delete" asp-controller="Dieslovani">
                                                        <input type="hidden" asp-for="DieslovaniMod.IdDieslovani" value="@dieslovani.IdDieslovani" />
                                                        <button class="button Edit delete"><i class="fa-solid fa-trash" style="color: black;"></i></button>
                                                    </form>
                                                    <button class="button Edit ed"><i class="fa-solid fa-pen" style="color: black;"></i></button>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                } 
                            }           
                        </tbody>
                    </table>

                </div>         
            }
        </div>
    </div>
  

</body>
</html>


